.ChoosePeriod{
    display:block;
    h3{
        display:inline-block;
        vertical-align: middle;
        margin:0;
    }
    span{
        display: inline-block;
        vertical-align: middle;
        padding: 0.5em;
    }
}